<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 01.把其他的子xml文件包含进来
  <import resource="spring-grade.xml"/>
  <import resource="spring-student.xml"/>
-->

  <!--02.简写的前提 是有规范   spring-*.xml -->
  <import resource="spring-*.xml"/>

</beans>