<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
">
<!--01.加载jdbc.properties文件-->
 <context:property-placeholder location="classpath:jdbc.properties"/>

 <!--02.配置数据源  001.使用spring默认的数据源
 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
     <property name="driverClassName" value="${jdbc.driverClass}"/>
     <property name="url" value="${jdbc.jdbcUrl}"/>
     <property name="username" value="${jdbc.userName}"/>
     <property name="password" value="${jdbc.password}"/>
 </bean>-->

    <!--002.使用c3p0数据源
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
        <property name="user" value="${jdbc.userName}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>-->
    <!--003.使用dbcp数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClass}"/>
        <property name="url" value="${jdbc.jdbcUrl}"/>
        <property name="username" value="${jdbc.userName}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>



  <!--03.配置dao-->
    <bean id="studentDaoImpl" class="com.xdf.dao.impl.StudentDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

  <!--04.配置service-->
    <bean id="studentServiceImpl" class="com.xdf.service.impl.StudentServiceImpl">
        <property name="dao" ref="studentDaoImpl"/>
    </bean>



</beans>